* {
    background-color: rgb(212, 201, 201);
    
}

header {

top: 0;
text-align: center;
width: 100%;
font-size: 36px;

}
footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;

}


.gridContainer {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
    border: solid black;
    

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;


    margin: auto;
    padding-top: 50px;
    
}

.genBox {
background-color: white;
float: left;

}
 button {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
 }
.buttonDiv {
   position: absolute;
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-left: 15px;
    gap: 15px;
}
.sizeBtn {
    
    
}
