* {
    background-color: grey;
}

header {

top: 0;
text-align: center;
width: 100%;
font-size: 36px;

}
footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;

}


.gridContainer {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
    border: solid black;
    

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;


    margin: auto;
    padding-top: 50px;
    
}

.genBox {
background-color: white;
float: left;
border: solid black;
}
